<?php

return [
    'debug' => false,

    'db.options' => [
        'driver'   => 'pdo_sqlite',
        'path'     => __DIR__.'/app.db',
    ],

    'cors.allowCredentials' => true,
    'cors.allowOrigin' => 'http://localhost:8000 http://0.0.0.0:8000',

    'restapi' => [
        'storage_path' => __DIR__.'/_files',
        'thumbs_path' => __DIR__.'/_thumbs',
        'schema_cache' => __DIR__.'/schema.cache',

        'token' => [
            'secret_key' => 'set-this-to-something-long-and-secret',
            'issuer' => 'localhost',
            'algorithms' => ['HS256'],
        ],

        'cookie' => [
            'lifetime' => 2592000, // 1 month
            'path' => '/',
            'domain' => '',
            'secure' => true,
            'httponly' => true,
        ],

        'users' => [
            // Add users here
        ],
    ],
];
