<?php

return [
    'debug' => false,

    'monolog.logfile' => 'php://stdout',
    'monolog.name' => 'restapi',

    'db.options' => [
        'driver'   => 'pdo_sqlite',
        'path'     => __DIR__.'/app.db',
    ],

    'restapi' => [
        'storage_path' => __DIR__.'/_files',
        'thumbs_path' => __DIR__.'/_thumbs',
        'schema_cache' => __DIR__.'/schema.cache',

        'cors' => [
            'allow_credentials' => true,
            'allow_origin' => true,
            'allow_headers' => ['content-type'],
            'allow_methods' => ['GET', 'POST', 'PUT', 'PATCH', 'DELETE'],
            'expose_headers' => ['x-pagination-total', 'x-pagination-limit', 'x-pagination-offset'],
            'max_age' => 0
        ],

        'auth' => [
            'token' => [
                'secret_key' => 'set-this-to-something-long-and-secret',
                'issuer' => 'localhost',
                'algorithms' => ['HS256'],
            ],

            'cookie' => [
                'lifetime' => 2592000, // 1 month
                'path' => '/',
                'domain' => '',
                'secure' => true,
                'httponly' => true,
            ],

            'users' => [
                // Add users here
            ],
        ],
    ],
];
