<?php

return [
    'debug' => false,

    'db.options' => [
        'driver'   => 'pdo_sqlite',
        'path'     => __DIR__.'/app.db',
    ],

    'restapi' => [
        'storage_path' => __DIR__.'/_files',
        'thumbs_path' => __DIR__.'/_thumbs',
        'schema_cache' => __DIR__.'/schema.cache',

        'cors' => [
            'allow_credentials' => true,
            'allow_origin' => ['*'],
            'allow_headers' => [],
            'allow_methods' => ['GET', 'POST', 'PUT', 'PATCH', 'DELETE'],
            'expose_headers' => '',
            'max_age' => 0
        ],

        'token' => [
            'secret_key' => 'set-this-to-something-long-and-secret',
            'issuer' => 'localhost',
            'algorithms' => ['HS256'],
        ],

        'cookie' => [
            'lifetime' => 2592000, // 1 month
            'path' => '/',
            'domain' => '',
            'secure' => true,
            'httponly' => true,
        ],

        'users' => [
            // Add users here
        ],
    ],
];
